<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>登陆</title>
</head>

<body>
<div >
    <form method="post">
        <div >
            <h1 >登录</h1>
        </div>
        <div >
            <input type="text" name="username" placeholder="用户名" autofocus><br/><br/>
            <input type="password" name="password" placeholder="密码"><br/><br/>
            <input type="submit" value="登录"/><br/><br/>
            <label>
                <input type="checkbox" value="remember-me"> 记住密码<br/>
                <span>
                    <a  href="#myModal"> 忘记密码?</a>
                </span>
            </label>
            <div>还没有账号?
                <a class="" href="/register">去注册</a>
            </div>
        </div>
    </form>

</div>
</body>
</html>
